<!-- 
    main entry point of the 
    microfinance monitoring system
    which has four modules
    microfinance institutions
    Bank of Tanzania 
    system main entry panel
-->
<router-outlet>
<!-- <mat-progress-bar [mode]="'indeterminate'"> </mat-progress-bar> -->
<!-- <div class="spinner-center">
    <span class="text-primary">Loading
        <mat-progress-spinner style="margin:0 auto;" 
            strokeWidth="5" mode="indeterminate" value="100">
        </mat-progress-spinner>
    </span>
</div> -->
</router-outlet>
