<div class="m-2 p-2">
  Foreign Exchange Reserve The official foreign exchange reserves are managed in
  line with the investment policies approved by the Board of the Bank. The Bank
  holds the reserves according to the provisions 51 and 52 of the Bank of
  Tanzania Act of ,2006. The objectives of the financial markets are to ensure
  that the Bank preserves capital, meets liquidity needs and enhances income
  given the viability of the market environment. The official foreign currency
  mix is constructed in such a way that it matches the currency composition of
  expected foreign debt service obligations, the import bill as well as
  non-import outflows. The rationales for holding reserves are to: Provide
  import cover and assist the government in meeting its foreign exchange needs,
  Provide confidence that the government can meet short term foreign debt
  obligations, Support monetary and exchange rate policies, including the
  capacity to intervene in support of the national currency, Support the Bank’s
  income by generating reasonable return consistent with the Bank’s risk
  tolerance. Reserve Management The BoT Act requires the Bank to maintain
  adequate official foreign exchange reserve equivalent to at least four months
  imports and the requirements of international transactions of the United
  Republic for the same period of time. The reserves are used for: Servicing
  government external debt and non-debt government external obligations.
  Intervention in the local foreign exchange market when deemed necessary to
  smoothen erratic movements of the exchange rates and BoT external payments.
  Providing a cushion against external crises, among others. The size of
  official reserve serves as a confidence signal to potential investors, rating
  agencies and those contemplating capital flight. To ensure prudence in the
  management of reserve, the objectives of the BOT foreign exchange reserve
  policy are: Capital preservation, Liquidity and Generation of Return.
</div>
