<div class="m-2 p-2 card">

Acts, Regulations, Circulars, Guidelines
Acts
Agreement
Circulars
Code of Conducts
Guidelines
Procedures
Regulations
Rules
Regular publications
Annual Reports
Consolidated Zonal Economic Report
Financial Stability
Monetary Policy Statement
Monthly Economic Review
Quarterly Economic Bulletin
Financial report publications
Balance Sheet as at
Financial Statements
Statements Of Financial Position As At
Other publications
Financial Sector Supervision Annual Report
Conference of Financial Institutions
Gilman Rutihinda Memorial Lectures
Research Newsletter
Speeches
Tanzania Investment
Tanzania Tourism Sector Survey Report
Working Papers Series
Zanzibar Investment
National payment systems publications
Banks Sort Codes
Money transfer operators
Statistics
Advertisements
Press Releases
</div>