<div class="jumbotron">
    <div class="text-bolder text-right">Line Charts</div>
    <div class="card-body">
      <div class="chartjs-container">
        <canvas
          baseChart
          baseChart
          height="300"
          width="500"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
        >
        </canvas>
      </div>
    </div>
  </div>
  