// The SCSS for Charts Page
.one{
    background: linear-gradient( rgb(211, 70, 113), rgb(247, 9, 215) );
}

.two{
    background: linear-gradient( #badd1c, rgb(9, 247, 88) );
}

.three{
    background: linear-gradient( rgb(236, 139, 11), rgb(247, 203, 9) );
}

.four{
    background: linear-gradient( rgb(213, 210, 230), rgb(192, 171, 216) );
}