<div class="mat-table-container">
    <div fxLayout="row" fxLayoutAlign="right">
      <mat-form-field fxFlex="60%">
        <input matInput type="text" (keyup)="filterMfi($event.target.value)" placeholder="Search">
      </mat-form-field>
    </div>
    <div class="mfi-mat-table mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort matSortStart="desc">
      <ng-container matColumnDef="mfi_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mfi Type </th>
        <td mat-cell *matCellDef="let element"> {{element.mfi_type}} </td>
      </ng-container>
    
      <ng-container matColumnDef="mfi_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mfi Name </th>
        <td mat-cell *matCellDef="let element"> {{element.mfi_name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="mfi_service">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mfi Service </th>
        <td mat-cell *matCellDef="let element"> {{element.mfi_service}} </td>
      </ng-container>
    
      <ng-container matColumnDef="mfi_assets" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mfi Assets </th>
        <td mat-cell *matCellDef="let element"> {{element.mfi_assets}} </td>
      </ng-container>
    
      <ng-container matColumnDef="mfi_liability">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mfi Liability </th>
        <td mat-cell *matCellDef="let element"> {{element.mfi_liability}} </td>
      </ng-container>
    
      <ng-container matColumnDef="mfi_technology">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mfi Technology </th>
        <td mat-cell *matCellDef="let element"> {{element.mfi_technology}} </td>
      </ng-container>
    
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mfi Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
    <mat-paginator #paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
    <div class="">&nbsp;
     <b> Export</b> &nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" (click)="exportExcel()">EXCEL</button>&nbsp;&nbsp;
      <button mat-raised-button color="primary" (click)="exportCsv()"> CSV</button>
    </div>
    <br>
    </div>
    </div>
    