<div class="m-2 p-2 card">
    Acts, Regulations, Circulars, Guidelines
Acts
Agreement
Circulars
Code of Conducts
Guidelines
Procedures
Regulations
Rules


"Maintain price stability and integrity of the financial system for inclusive economic growth "

 Monetary Policy
Monetary policy consists of decisions and actions taken by the Central Bank to ensure that the supply of money in the economy is consistent with growth..
Read more..
 Financial Sector Supervision
Bank of Tanzania is mandated to license, regulate, supervise and de-license banks, financial institutions and Bureaus de change. Financial Institutions...
Read more..
 Payment & Settlement Systems
The Bank of Tanzania is empowered by the National Payment Systems (NPS) Act 2015 ...
Read more..
 Financial Markets
The Bank of Tanzania is involved in money, bonds and foreign exchange markets geared towards implementation of monetary policy, ensuring that ..
Read more..
 Currency Issuance
The Bank is mandated under the Bank of Tanzania Act, 2006 to have the sole right to issue banknotes and coins in and for Tanzania, which shall be the only...
Read more..
 Banking Services
Bank of Tanzania is a banker and fiscal agent to the Government of the United Republic of Tanzania and to the Revolutionary Government of Zanzibar...
Read more..
</div>