<div>
  <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show">
    {{errorMessage}}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
  <div *ngIf="microfi && !errorMessage" class="card m-2 p-2">
    <!--  -->
    <div class="text-right uk-text-bold mr-3">
      <div class="btn btn-primary float-left" (click)="goBack()">Back</div>
      <h2 class="text-primary text-right">
        {{ microfi.mfi_name | uppercase }} {{ microfi.mfi_type | uppercase }}
      </h2>
    </div>
    <!-- Content display -->
    <div class="card bg-white">
      <div fxFlexFill class="text-left card-body">
        <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="100%;" fxFlex.xs="80%" fxFlexFill>
            <div>
              <div>
                <label><b> Name: </b></label> {{ microfi.mfi_name | uppercase}} {{ microfi.mfi_type | uppercase}}  
              </div>
              <div>
                <label><b>Service: </b></label> {{ microfi.mfi_service }}
              </div>
              <div>
                <label><b>Email : </b></label> {{ microfi.email }}
              </div>
              <div>
                <label><b>Technology : </b></label> {{ microfi.mfi_technology }}
              </div>
  
              <div>
                <label><b>Liability : </b></label> {{ microfi.mfi_liability }}
              </div>
  
              <div>
                <label><b>Assets : </b></label> {{ microfi.mfi_assets }}
              </div>
              <div>
                <label><b>License : </b></label> {{ microfi.mfi_license }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Mfi Address Review -->
      <div class="">
        <div class="card">
          <b class="card-header">Location Information</b>
          <div class="mfi-address card-body">
            <div *ngIf="addresses">
              <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
              <div *ngFor="let address of addresses">
                <p>Address: {{ address.address_office }}</p>
                <p>District: {{ address.address_district }}</p>
                <p>Region: {{ address.address_region }}</p>
                <p>P.O.Box: {{ address.address_pobox }}</p>
                <p>Phone Number: {{ address.addres_phone_number }}</p>
                <p>Website: 
                  <a href="{{ address.address_website }}"
                   target="blank" >{{ this.microfi.mfi_name }}
                    {{ this.microfi.mfi_type }}
                  </a></p>
              </div>
            </div>
            <div *ngIf="!addresses">
              <b>No data to show</b>
            </div>
          </div>
        </div>
        <!-- Mfi Board members Review -->
        <div class="card">
          <b class="card-header">Board Members</b>
          <div class="mfi-board card-body">
            <div *ngIf="boards">
              <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
              <div class="table-responsive">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <!-- <th scope="col">No:</th> -->
                      <th scope="col">First Name</th>
                      <th scope="col">Middle Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Phone No:</th>
                      <th scope="col">Citizenship</th>
                      <th scope="col">Position</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let board of boards">
                      <!-- <th scope="row">{{ board.id }}</th> -->
                      <td>{{ board.board_first_name }}</td>
                      <td>{{ board.board_middle_name }}</td>
                      <td>{{ board.board_last_name }}</td>
                      <td>{{ board.board_email }}</td>
                      <td>{{ board.board_phone_number }}</td>
                      <td>{{ board.board_citizenship }}</td>
                      <td>{{ board.board_position }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div *ngIf="!boards">No data to show</div>
          </div>
        </div>
      </div>
      <hr />
  
      <!--Mfi Stakeholder Review -->
      <div class="">
        <div class="card">
          <b class="card-header">Stakeholder</b>
          <div class="mfi-stakeholder card-body">
            <div *ngIf="stakeholders">
              <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
              <div class="table-responsive">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <!-- <th scope="col">No:</th> -->
                      <th scope="col">First Name</th>
                      <th scope="col">Middle Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Phone No:</th>
                      <th scope="col">Citizenship</th>
                      <th scope="col">Share</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let stakeholder of stakeholders">
                      <!-- <th scope="row">{{ stakeholder.id }}</th> -->
                      <td>{{ stakeholder.stake_first_name }}</td>
                      <td>{{ stakeholder.stake_middle_name }}</td>
                      <td>{{ stakeholder.stake_last_name }}</td>
                      <td>{{ stakeholder.stake_email }}</td>
                      <td>{{ stakeholder.stake_phone_number }}</td>
                      <td>{{ stakeholder.stake_citizenship }}</td>
                      <td>{{ stakeholder.stake_share }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
  
            <div *ngIf="!stakeholders">No data to show</div>
          </div>
        </div>
        <!-- Mfi Reports Review -->
        <div class="card">
          <b class="card-header">Reports</b>
          <div class="mfi-report card-body">
            <div *ngIf="reports">
              <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
              <div class="table-responsive">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <!-- <th scope="col">No:</th> -->
                      <th scope="col">Assets</th>
                      <th scope="col">Liability</th>
                      <th scope="col">Revenue</th>
                      <th scope="col">Income</th>
                      <th scope="col">Dividend</th>
                      <th scope="col">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let report of reports">
                      <!-- <th scope="row">{{ report.id }}</th> -->
                      <td>{{ report.report_assets }}</td>
                      <td>{{ report.report_liability }}</td>
                      <td>{{ report.report_revenue }}</td>
                      <td>{{ report.report_income }}</td>
                      <td>{{ report.report_dividend }}</td>
                      <td>{{ report.date_updated | date }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div *ngIf="!reports">No data to show</div>
          </div>
        </div>
        <!-- Mfi Reports Review -->
        <div class="card">
          <b class="card-header">Institutions Predctions</b>
          <div class="mfi-report card-body">
            <div *ngIf="reports">
              <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
              <div class="table-responsive">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <!-- <th scope="col">No:</th> -->
                      <th scope="col">Assets</th>
                      <th scope="col">Liability</th>
                      <th scope="col">Revenue</th>
                      <th scope="col">Income</th>
                      <th scope="col">Prediction</th>
                      <th scope="col">Confidence</th>
                      <th scope="col">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pred of prediction">
                      <!-- <th scope="row">{{ report.id }}</th> -->
                      <td>{{ pred.report_assets }}</td>
                      <td>{{ pred.report_liability }}</td>
                      <td>{{ pred.report_revenue }}</td>
                      <td>{{ pred.report_income }}</td>
                      <td>{{ pred.prediction }}</td>
                      <td>{{ pred.confidence_score }}</td>
                      <td>{{ pred.created_date | date }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div *ngIf="!reports">No data to show</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>