
   <div class="card m-2 p-1">

  <!-- Common Page Settings  -->
  <div class="p-3 text-center" fxLayoutGap="10px" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div class="card" fxFlex="25%;" fxFlex.xs="80%" fxFlexFill>
      <h1>Counter</h1>
    </div>
    <div class="card" fxFlex="25%;" fxFlex.xs="80%" fxFlexFill>
      <h2>Visitors</h2>
    </div>
    <div class="card" fxFlex="25%;" fxFlex.xs="80%" fxFlexFill>
      <h2>Ratings</h2>
    </div>
    <div class="card" fxFlex="25%;" fxFlex.xs="80%" fxFlexFill>
      <h2>More</h2>
    </div>
  </div>
  
  <!--  -->
    <div class="text-right uk-text-bold mr-3 pr-3">
      <h2>Institutions Charts Visualization</h2>
    </div>
    <div class="card-body bg-white">
      <div fxFlexFill class="text-center">
        <div fxLayoutGap="10px" fxLayout="row" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="50%;" fxFlex.xs="80%" fxFlexFill>
            <app-bar-charts></app-bar-charts>
          </div>
          <div fxFlex="50%;" fxFlex.xs="80%" fxFlexFill>
            <app-line-charts></app-line-charts>
          </div>
        </div>
  
        <!--  -->
        <div fxLayoutGap="10px" fxLayout="row" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="50%;" fxFlex.xs="80%" fxFlexFill>
            <app-doughnut-charts></app-doughnut-charts>
          </div>
          <div fxFlex="50%;" fxFlex.xs="80%" fxFlexFill>
            <app-pie-charts></app-pie-charts>
          </div>
        </div>
      </div>
    </div>
  </div>
  